<template>
  <div>
    <el-button-group style="padding: 10px 20px 0">
      <el-button
        @click="check()"
        v-bind:disabled="checkDashboard"
        size="mini"
        type="warning"
        icon="el-icon-warning"
        round
      ></el-button>
      <el-button
        @click="run()"
        v-bind:disabled="$Dashboard.dashboard.run"
        size="mini"
        type="success"
        icon="el-icon-arrow-right"
        round
      ></el-button>
      <el-button
        @click="reload()"
        v-bind:disabled="!$Dashboard.dashboard.run"
        size="mini"
        type="warning"
        icon="el-icon-refresh-left"
        round
      ></el-button>
      <el-button
        @click="close()"
        v-bind:disabled="!$Dashboard.dashboard.run"
        size="mini"
        type="danger"
        icon="el-icon-video-pause"
        round
      ></el-button>
      <el-button
        v-bind:disabled="!$Dashboard.errors.length"
        @click="errorsClear()"
        size="mini"
        icon="el-icon-delete"
        round
        >Удалить ошибки</el-button
      >
    </el-button-group>
    <el-row>
      <el-col :span="12">
        <h3>Основная информация</h3>
        <div v-if="updateDashboard"><i class="el-icon-loading"></i></div>
        <div v-if="$Dashboard.dashboard">
          <GeneralTable :dashboard="$Dashboard.dashboard"></GeneralTable>
        </div>
      </el-col>
      <el-col :span="12">
        <h3>Мета данные</h3>
        <div v-if="updateMeta"><i class="el-icon-loading"></i></div>
        <div v-if="!updateMeta">
          <MetaTable :meta="$Dashboard.meta"></MetaTable>
        </div>
      </el-col>
    </el-row>
    <h3 v-if="checked && checkResult.length">Результат проверки дашборда</h3>
    <ErrorsView
      v-if="checkResult.length"
      :errors="checkResult"
      :dashboard="$Dashboard.dashboard"
    ></ErrorsView>
    <h3 v-if="$Dashboard.errors.length">Ошибки</h3>
    <ErrorsView
      v-if="$Dashboard.errors.length"
      :errors="$Dashboard.errors"
      :dashboard="$Dashboard.dashboard"
    ></ErrorsView>
  </div>
</template>

<script>
import MetaTable from "./control/Meta";
import GeneralTable from "./control/General";
import ErrorsView from "./control/Errors";

export default {
  name: "Control",

  data: function () {
    return {
      meta: {},
      errors: [],
      checked: false,
      checkResult: [],
      updateMeta: false,
      updateErrors: false,
      updateDashboard: false,
      dashboard: false,
      checkDashboard: false,
    };
  },

  components: { MetaTable, GeneralTable, ErrorsView },
  beforeRouteUpdate(to, from, next) {
    this.checkResult = []
    this.checked = false
    next();
  },
  methods: {
    reload() {
      this.$Manager.remote
        .dashboardStop(this.$Dashboard.dashboard.id)
        .then(() => {
          return this.$Manager.remote.dashboardRun(
            this.$Dashboard.dashboard.id
          );
        })
        .catch((error) => {
          this.$notify.error({
            title: "Ошибка перезапуска - " + error.message,
          });
        });
    },
    run() {
      this.$Manager.remote
        .dashboardRun(this.$Dashboard.dashboard.id)
        .catch((error) => {
          this.$notify.error({
            title: "Ошибка запуска - " + error.message,
          });
        });
    },

    async check() {
      this.checkDashboard = true;
      this.checked = true
      try {
        const res = await this.$Manager.remote.dashboardCheck(this.$Dashboard.dashboard.id);
        console.log(res)
        this.checkResult = res.resultData
      } catch (error) {
        console.log(error);
        this.$notify.error({
          title: "Ошибка запуска - " + error.message,
        });
      }
      this.checkDashboard = false;
    },
    close() {
      this.$Manager.remote
        .dashboardStop(this.$Dashboard.dashboard.id)
        .catch((error) => {
          this.$notify.error({
            title: "Ошибка запуска - " + error.message,
          });
        });
    },
    errorsClear() {
      this.$Manager.remote
        .dashboardErrorsClear(this.$Dashboard.dashboard.id)
        .catch((error) => {
          this.$notify.error({
            title: "Ошибка удаления ошибок - " + error.message,
          });
        });
    },
  },
};
</script>

<style scoped>
</style>
