<template>
  <el-row class="scrolled-cols">
    <!-- DEVICE LIST  -->
    <el-col class="scrolled-cols__devices">
      <div v-for="device in devicesList" :key="device.id" class="device">
        <small style="color: #369"
          ><b>{{ device.type }}</b></small
        ><br />
        <b style="font-size: 16px">
          <!-- v-bind:disabled="!Object.keys(device.actions).length" -->
          <!-- v-if="Object.keys(device.actions).length" -->
          <el-button-group>
            <el-button
              @click="activeDevice = device.id"
              size="small"
              v-if="Object.keys(device.actions).length"
              icon="el-icon-caret-right"
            ></el-button>
            <el-button
              @click="toggleOutputsShow(device.id)"
              size="small"
              icon="el-icon-connection"
            ></el-button>
          </el-button-group>
          {{ device.id }}
        </b>
        <div
          style="
            margin-left: -20px;
            margin-right: -5px;
            border-radius: 2px;
            padding: 4px 2px;
          "
        >
          <!-- DEVICE OUTPUTS START -->
          <template v-if="outputsShow[device.id] && structure[device.id]">
            <table style="margin-left: 15px">
              <template
                v-for="(port, portName) of structure[device.id].outputs"
              >
                <tr :key="'output-port-' + portName">
                  <td style="text-align: center; font-size: 20px">
                    <i class="el-icon-s-help"></i>
                  </td>
                  <td>{{ portName }}</td>
                  <td>
                    <el-button-group style="padding-left: 10px">
                      <el-button
                        @click="toggleMonitor(device.id, portName)"
                        size="mini"
                        v-bind:type="
                          portMonitors[device.id + '.' + portName]
                            ? 'primary'
                            : 'default'
                        "
                        icon="el-icon-video-play"
                        circle
                      ></el-button>
                      <el-button
                        @click="toggleMonitorResume(device.id + '.' + portName)"
                        size="mini"
                        v-bind:type="
                          portMonitorsResume[device.id + '.' + portName]
                            ? 'primary'
                            : 'default'
                        "
                        icon="el-icon-refresh-left"
                        circle
                      ></el-button>
                    </el-button-group>
                  </td>
                </tr>
                <template v-for="inputPort of port">
                  <tr
                    :key="
                      'input-port-' + inputPort.device + '.' + inputPort.port
                    "
                  >
                    <td></td>
                    <td style="text-align: right; font-size: 20px">
                      <i class="el-icon-right"></i>
                    </td>
                    <td>{{ inputPort.device }}.{{ inputPort.port }}</td>
                  </tr>
                </template>
              </template>
            </table>
          </template>
          <!-- DEVICE OUTPUTS END -->

          <!-- BASIC CHANNELS -->
          <template v-if="device.settings.message">
            <template v-for="channel in channelList">
              <div
                :key="channel + device"
                v-if="
                  device.settings.messageTypes &&
                  device.settings.messageTypes.indexOf(channel) !== -1
                "
                class="devices-channel"
                v-bind:class="{
                  'devices-channel-active':
                    channels.indexOf(makeChannel(device.id, channel)) !== -1,
                }"
                @click="toggleChannel(device.id, channel)"
              >
                {{ channel }}
              </div>
            </template>
          </template>

          <div
            v-if="device.settings.shares"
            class="devices-channel"
            v-bind:class="{
              'devices-channel-active':
                channels.indexOf(makeChannel(device.id, 'render')) !== -1,
            }"
            @click="toggleChannel(device.id, 'render')"
          >
            shares
          </div>
        </div>
      </div>
    </el-col>
    <!-- DATA -->
    <el-col class="scrolled-cols__tabs">
      <el-row v-if="activeDevice">
        <h2>{{ activeDevice }}</h2>
        <!-- DEVICE OUTPUTS START -->
        <!-- <template v-if="devicesList || structure[activeDevice]">
          <h3>Выходы</h3>
          <table>
            <template
              v-for="(port, portName) of structure[activeDevice].outputs"
            >
              <tr :key="'output-port-' + portName">
                <td style="text-align: center; font-size: 20px">
                  <i class="el-icon-s-help"></i>
                </td>
                <td>{{ portName }}</td>
                <td>
                  <el-button
                    v-if="!portMonitors[activeDevice + '.' + portName]"
                    @click="startPortMonitor(activeDevice, portName, true)"
                    circle
                    size="mini"
                    ><i class="el-icon-caret-right"></i>
                  </el-button>

                  <el-button
                    v-if="portMonitors[activeDevice + '.' + portName]"
                    @click="stopPortMonitor(activeDevice, portName)"
                    circle
                    size="mini"
                    ><i class="el-icon-video-pause"></i
                  ></el-button>
                </td>
              </tr>
              <template v-for="inputPort of port">
                <tr
                  :key="'input-port-' + inputPort.device + '.' + inputPort.port"
                >
                  <td></td>
                  <td style="text-align: right; font-size: 20px">
                    <i class="el-icon-right"></i>
                  </td>
                  <td>{{ inputPort.device }}.{{ inputPort.port }}</td>
                </tr>
              </template>
            </template>
          </table>
        </template> -->
        <!-- DEVICE OUTPUTS END -->

        <!-- DEVICE ACTION  START -->
        <template
          v-if="
            structure[activeDevice] &&
            Object.keys(structure[activeDevice].actions).length
          "
        >
          <el-input placeholder="Action" v-model="actionName"></el-input>
          <el-input
            type="textarea"
            :rows="2"
            placeholder="Please input"
            v-model="actionSend"
          >
          </el-input>
          <el-button-group>
            <el-button @click="toAction()" type="warning">SEND</el-button>
            <el-button @click="activeDevice = false" type="danger"
              >CLOSE</el-button
            >
          </el-button-group>
          <pre>{{ actionResult }}</pre>
        </template>
        <!-- DEVICE ACTION  END -->
      </el-row>
      <el-tabs v-model="activeTab">
        <el-tab-pane label="Терминал" name="terminal">
          <el-row style="margin-bottom: 15px">
            <el-button-group>
              <el-button
                @click="terminalActive = true"
                size="mini"
                v-bind:disabled="terminalActive"
                icon="el-icon-video-play"
                round
              ></el-button>
              <el-button
                @click="terminalActive = false"
                size="mini"
                v-bind:disabled="!terminalActive"
                icon="el-icon-video-pause"
                round
              ></el-button>
              <el-button
                @click="terminal = []"
                size="mini"
                icon="el-icon-delete"
                round
              ></el-button>
            </el-button-group>
            <el-button-group style="padding-left: 10px">
              <el-button
                @click="toggleExpandAll()"
                size="mini"
                v-bind:type="expandAll ? 'primary' : 'default'"
                icon="el-icon-folder-add"
                circle
              ></el-button>
              <el-button
                @click="toggleCollapseAll()"
                size="mini"
                v-bind:type="collapseAll ? 'primary' : 'default'"
                icon="el-icon-folder-remove"
                circle
              ></el-button>
            </el-button-group>
            <el-select
              v-model="displayCount"
              size="mini"
              style="padding-left: 10px; width: 65px"
              placeholder="Select"
            >
              <el-option
                v-for="item in rowsFilterOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-row>
          <div v-for="element of terminalFilter" :key="element.id">
            <el-card
              shadow="never"
              style="margin-bottom: 5px"
              :body-style="{ padding: '10px' }"
            >
              <div class="text" @click="toggle(element)">
                <div class="clearfix">
                  <i style="font-size: 16px; margin-right: 10px"></i
                  >{{ element.target }}: {{ element.data.message }}
                  <div style="float: right">
                    {{ element.time | unixCalendar }} #{{ element.id }}
                  </div>
                </div>
                <div
                  v-if="
                    (expandIndex[element.id] || expandAll) &&
                    !collapseAll &&
                    element.data.trace
                  "
                >
                  <pre style="margin-bottom: 0px">{{ element.data.trace }}</pre>
                </div>
                <div
                  v-if="element.data.trace"
                  style="
                    margin: 0 auto;
                    width: 50px;
                    border-bottom: 3px solid #d0d0d0;
                  "
                ></div>
              </div>
            </el-card>
          </div>
          <!-- <pre>{{structure}}</pre> -->
        </el-tab-pane>
        <el-tab-pane label="Данные" name="data">
          <el-button
            @click="getRender()"
            v-bind:disabled="!$Dashboard.dashboard.run"
            size="small"
            icon="el-icon-refresh-left"
            circle
          ></el-button>
          <json-view :data="render"
        /></el-tab-pane>
      </el-tabs>
    </el-col>
  </el-row>
</template>
<script>
import { JSONView } from "vue-json-component";

export default {
  name: "Devices",
  components: {
    "json-view": JSONView,
  },
  computed: {
    devicesList: function () {
      var list = [];
      for (var deviceID in this.structure) {
        const dev = this.structure[deviceID];
        if (!dev.settings)
          dev.settings = { shares: true, message: true, storage: true };
        if (dev.settings.message === true && !dev.settings.messageTypes)
          dev.settings.messageTypes = this.channelList.slice();
        list.push(this.structure[deviceID]);
      }
      list.sort((prev, next) => {
        return prev.type + prev.id > next.type + prev.id ? 1 : -1;
      });
      return list;
    },
    terminalFilter: function () {
      var i = 0;
      var filtered = [];
      for (var row of this.terminal) {
        if (i >= this.displayCount) break;
        filtered.push(row);
        i++;
      }
      return filtered;
    },
  },
  data: () => {
    return {
      rowsFilterOptions: [
        {
          value: "5",
          label: "5",
        },
        {
          value: "15",
          label: "15",
        },
        {
          value: "30",
          label: "30",
        },
        {
          value: "60",
          label: "60",
        },
      ],
      ids: 0,
      displayCount: 15,
      expandAll: false,
      collapseAll: false,
      expandIndex: {},
      activeTab: "terminal",
      activeDevice: false,
      terminalActive: true,
      loader: false,
      render: {},
      renderDevices: [],
      portMonitors: {},
      portMonitorsResume: {},
      dashboard: {},
      structure: {},
      channels: [],
      terminal: [],
      actionName: "",
      actionSend: JSON.stringify({}, null, "    "),
      actionResult: JSON.stringify({}),
      channelList: ["terminal", "notify", "error", "alert", "event", "action"],
      renderList: ["render"],
      outputsShow: {},
    };
  },

  beforeRouteLeave(to, from, next) {
    this.$Manager.remote.channelsLeave(this.channels);
    next();
  },

  mounted: function () {
    this.$Manager.remote
      .dashboardStructure(this.$route.params.dashboard)
      .then((result) => {
        this.structure = result.resultData;
      })
      .catch((error) => {
        this.$notify.error({
          title: "Ошибка получения структуры - " + error.message,
        });
      });
  },
  methods: {
    async toggleMonitor(device, port) {
      if (!this.portMonitors[device + "." + port]) {
        this.$set(this.portMonitors, device + "." + port, true);
        do {
          try {
            const result = await this.$Manager.remote.dashboardDeviceOutputListen(
              this.$Dashboard.dashboard.id,
              device,
              port,
              2000
            );
            this.addTerminal({
              target: device + "." + port,
              data: {
                message: "Listen port",
                trace: result.resultData,
              },
            });

            if (this.portMonitorsResume[device + "." + port]) continue;
            break;
          } catch (error) {
            if (error.name === "ListenError") continue;
            this.addTerminal(error);
            return;
          }
        } while (
          this.portMonitors[device + "." + port]
        );
        this.$set(this.portMonitors, device + "." + port, false);
      } else {
        this.$set(this.portMonitors, device + "." + port, false);
      }
    },
    toggleMonitorResume(deviceId) {
      this.$set(
        this.portMonitorsResume,
        deviceId,
        !this.portMonitorsResume[deviceId]
      );
    },
    toggleOutputsShow(deviceId) {
      this.$set(this.outputsShow, deviceId, !this.outputsShow[deviceId]);
    },
    async toAction() {
      var data;
      try {
        data = JSON.parse(this.actionSend);
        const result = await this.$Manager.remote.dashboardDeviceAction(
          this.$route.params.dashboard,
          this.activeDevice,
          this.actionName,
          data
        );
        this.actionResult = JSON.stringify(result, null, "\t");
      } catch (err) {
        this.actionResult = err.toString();
      }
    },
    toggleChannel(device, type) {
      var channel = this.makeChannel(device, type);
      var index = this.channels.indexOf(channel);
      if (index !== -1) {
        this.$Manager.remote.channelLeave(channel);
        this.$delete(this.render, channel);
        this.channels.splice(index, 1);
      } else {
        if (type === "render") {
          this.$Manager.remote.channelJoin(channel, this.addMonitor.bind(this));
        } else {
          this.$Manager.remote.channelJoin(
            channel,
            this.addTerminal.bind(this)
          );
        }
        this.channels.push(channel);
      }
    },
    async stopPortMonitor(device, port) {
      this.$set(this.portMonitors, device + "." + port, false);
      //monitorSettings.active = false;
    },
    getRender() {
      this.$Manager.remote.dashboardShares(this.$Dashboard.dashboard.id);
    },
    makeChannel(device, channel) {
      return (
        "dashboards." +
        this.$Dashboard.dashboard.id +
        "." +
        device +
        "." +
        channel
      );
    },
    addTerminal(data) {
      if (!this.terminalActive) return;
      this.ids++;
      data.id = this.ids;
      data.time = Date.now();
      this.terminal.unshift(data);
      if (this.terminal.length > 300) this.terminal.pop();
    },
    addMonitor(data) {
      this.$set(this.render, data.target, data.data);
    },
    toggle(row) {
      if (this.expandIndex[row.id]) this.$set(this.expandIndex, row.id, false);
      else this.$set(this.expandIndex, row.id, true);
    },
    toggleExpandAll() {
      if (this.collapseAll) this.collapseAll = false;
      if (this.expandAll) this.expandAll = false;
      else this.expandAll = true;
    },
    toggleCollapseAll() {
      if (this.expandAll) this.expandAll = false;
      if (this.collapseAll) this.collapseAll = false;
      else this.collapseAll = true;
    },
  },
};
</script>

<style scoped>
.devices-channel {
  padding: 6px 6px;
  display: inline;
  cursor: pointer;
  border-radius: 2px;
}
.devices-channel + .devices-channel {
  margin-left: 2px;
}
.devices-channel-active {
  background: #000;
  color: #fff;
}
.device {
  padding: 10px 5px 10px 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.scrolled-cols__devices {
  margin-left: -20px;
  padding-left: 20px;
}
.device:nth-child(even) {
  background: #f7f7f7;
}
#pane-data {
  padding-bottom: 10px;
}
#pane-data .el-button--small.is-circle {
  position: absolute;
  top: 0;
  right: 10px;
}
</style>
