<template>
  <div>
      MONITOR {{$route.params}}
  </div>
</template>

<script>
export default {
  name: 'Control',
  data: () => {
    return {}
  },
  computed: {
    getMeta: function () {
      return {}
    }
  },
  props: ['activeDashboard', 'dashboardsList'],
  methods: {
    run: function () {
    },
    close: function () {
    }
  }
}
</script>

<style scoped>

</style>
