<template>
  <div>
    <Scheme :devices="structure"></Scheme>
  </div>
</template>

<script>

import Scheme from './scheme/Scheme'

export default {
  name: 'Control',
  data: () => {
    return {
      structure: false
    }
  },

  components: {
    Scheme
  },
  mounted: function () {
    this.$Manager.remote.dashboardStructure(this.$route.params.dashboard)
      .then((result) => {
        this.structure = result.resultData
      })
      .catch((error) => {
        this.$notify.error({
          title: 'Ошибка получения структуры - ' + error.message
        })
      })
  }
}
</script>

<style scoped>

</style>
