<template>
  <div class="dashboard-list">
    <nav style="padding-right: 0px; padding-left: 0px" class="">
      <div v-for="group in dashboardsTree" v-bind:key="group.name">
        <p class="dbm-list-group">{{group.group}}</p>
        <ul class="dbm-list">
          <li class="dbm-list-element"
            v-on:click="$router.push({name:'control', params: { dashboard:  dashboard.id}})"
            v-for="dashboard in group.list"
            v-bind:key="dashboard.id"
            v-bind:class="{ 'dbm-list-element-active' : ($route.params.dashboard === dashboard.id) }"
          >
            <a style="display: block;" class="">
              <i v-if="dashboardsList[dashboard.id].run" style="font-size: 15px; color: #67C23A; font-weight:800; margin-right: 5px;" class="el-icon-s-tools"></i>
              <i v-if="dashboardsList[dashboard.id].errors" style="font-size: 15px; color: #F56C6C; font-weight:800; margin-right: 5px;" class="el-icon-s-tools"></i>
              {{dashboard.name}}
            </a>
            <small style="color: #555"><b>{{dashboard.id}}</b></small>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'DashboardList',
  props: ['dashboardsList', 'dashboardsTree', 'activeDashboard']
}
</script>

<style>
.dbm-list-header{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 10px;
  font-weight: 700;
}

.dbm-list{
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}

.dbm-list-group{
  font-size: 12px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 0px;
  margin-bottom: 0px;
  /* color: #1f2f3d; */
  color: #fff;
  /* background-color: rgb(213, 227, 235); */
  background-color: #409EFF
}

.dbm-list-element{
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  /* border-left:rgb(202, 229, 255) 3px solid; */
}

.dbm-list-element-active{
  background-color: #f0f0f0!important;
  border-right: #ecbd76 5px solid;
}

.dbm-list-element:hover{
  cursor: pointer;
  background-color: #f0f0f0!important;
}

.dbm-list-element-badgers{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dbm-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: 150px;
}
</style>
