<template>
    <div class="dashboard">
        <el-menu :router="true" :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
            <el-menu-item index="control">Управление</el-menu-item>
            <el-menu-item v-if="this.dashboard.run" index="devices">Устройства</el-menu-item>
            <el-menu-item v-if="this.dashboard.run" index="scheme">Схема</el-menu-item>
        </el-menu>
        <router-view></router-view>
    </div>
</template>
<script>
import Vue from "vue";

export default {
    name: "Dashboard",
    data: function() {
        return {
            activeIndex: this.$route.name,
            dashboard: {},
            meta: {},
            errors: [],
        };
    },

    mounted: function() {
        this.updateGeneralInfo(this.$route.params.dashboard);
        this.$Manager.remote.channelJoin("manager." + this.$route.params.dashboard, (result) => {
            if (this.dashboard.errors !== result.data.errors) {
                this.updateDashboardErrors(this.$route.params.dashboard);
            }
            this.dashboard = result.data;
        });
    },

    beforeCreate() {
        Vue.prototype.$Dashboard = this;
    },

    beforeRouteLeave(to, from, next) {
        // console.log("leave");
        this.$Manager.remote.channelLeave("manager." + from.params.dashboard);
        next();
    },

    beforeRouteUpdate(to, from, next) {
        this.activeIndex = to.name;
        this.dashboard = this.$Manager.dashboardsList[to.params.dashboard];
        if (to.params.dashboard !== from.params.dashboard) {
            this.$Manager.remote.channelLeave("manager." + from.params.dashboard);
            this.$Manager.remote.channelJoin("manager." + to.params.dashboard, (result) => {
                if (this.dashboard.errors !== result.data.errors) this.updateDashboardErrors(this.dashboard.id);
                this.dashboard = result.data;
            });
            this.updateGeneralInfo(to.params.dashboard);
        }
        next();
    },
    methods: {
        async updateGeneralInfo(dashboard) {
            this.updateMeta = true;
            this.updateErrors = true;
            this.updateDashboard = true;
            this.updateDashboardGeneral(dashboard);
            this.updateDashboardMeta(dashboard);
            this.updateDashboardErrors(dashboard);
        },

        updateDashboardMeta(dashboard) {
            this.$Manager.remote
                .dashboardMeta(dashboard)
                .then((result) => {
                    this.updateMeta = false;
                    this.meta = result.resultData;
                })
                .catch((error) => {
                    this.updateMeta = false;
                    this.$notify.error({ title: "Ошибка обновления мета данных - " + error.toString() });
                });
        },

        updateDashboardGeneral(dashboard) {
            this.$Manager.remote
                .dashboard(dashboard)
                .then((result) => {
                    this.updateDashboard = false;
                    this.dashboard = result.resultData;
                })
                .catch((error) => {
                    this.updateDashboard = false;
                    this.$notify.error({ title: "Ошибка обновления дашборда - " + error.toString() });
                });
        },

        updateDashboardErrors(dashboard) {
            this.$Manager.remote
                .dashboardErrors(dashboard)
                .then((result) => {
                    this.updateErrors = false;
                    this.errors = result.resultData;
                })
                .catch((error) => {
                    this.updateErrors = false;
                    this.$notify.error({ title: "Ошибка обновления ошибок - " + error.toString() });
                });
        },
    },
};
</script>
<style lang="less">
.dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .el-menu-demo + div {
        flex-grow: 1;
    }
}
</style>
