<template>
  <div>
    <!-- LIST  -->
    <!-- <el-row class="scrolled-cols">
      <el-col class="scrolled-cols__devices">
        <nav style="padding-right: 0px; padding-left: 0px" class="">
          <ul class="dbm-list">
            <li
              class="dbm-list-element"
              v-bind:class="{}"
            >
              <a style="display: block" class="">
                <i
                  style="margin-right: 8px"
                  class="el-icon-plus"
                ></i>
                Добавить
              </a>
            </li>
            <li
              v-for="el of list"
              :key="el.key"
              class="dbm-list-element"
              v-on:click="$router.push({ name: 'keys' })"
              v-bind:class="{}"
            >
              <a style="display: block" class="">
                <i
                  style="margin-right: 8px"
                  v-if="el.private"
                  class="el-icon-key"
                ></i>
                <b style="color: #336699">{{ el.level }}</b>
                {{ el.name }}
                <small>{{ el.key }}</small>
              </a>
            </li>
          </ul>
        </nav>
      </el-col>
      <el-col class="scrolled-cols__tabs"> asd </el-col>
    </el-row> -->
    <el-dialog
      :modal="false"
      title="Упарвление ключем"
      :visible.sync="dialogVisible"
    >
      <el-form :model="form" :rules="rules" ref="addCon">
        <el-form-item label="Название" prop="name">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="Описание" prop="description">
          <el-input v-model="form.description"></el-input>
        </el-form-item>
        <el-form-item v-if="type === 'add'" label="Уровень" prop="level">
          <el-select
            
            v-model="form.level"
            placeholder="Select"
          >
            <el-option
              v-for="item in levelOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="type === 'add'" label="Шифрование">
          <el-switch v-model="form.cipher"> </el-switch>
        </el-form-item>
        <el-form-item v-if="type === 'save' || type === 'delete'" label="Ключ">
          <el-form-item prop="key">
            <el-input disabled v-model="form.key"></el-input>
          </el-form-item>
        </el-form-item>
        <el-form-item v-if="type === 'save'" label="Private">
          <el-form-item prop="private">
            <el-input disabled v-model="form.private"></el-input>
          </el-form-item>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button @click="dialogVisible = false">Отмена</el-button>
        <el-button
          v-if="type === 'delete'"
          type="danger"
          @click="submitForm('addCon')"
          >Удалить</el-button
        >
        <el-button
          v-if="type === 'add'"
          type="primary"
          @click="submitForm('addCon')"
          >Добавить</el-button
        >
        <el-button
          v-if="type === 'save'"
          type="primary"
          @click="submitForm('addCon')"
          >Сохранить</el-button
        >
      </span>
    </el-dialog>
    <!-- TABLE -->
    <el-button-group style="padding: 10px 20px 0">
      <el-button
        @click="addDialog()"
        size="mini"
        type="success"
        icon="el-icon-plus"
        round
        >Добавить ключ</el-button
      >
    </el-button-group>
    <el-table :data="list" style="width: 100%">
      <el-table-column prop="name" label="Название" width="200">
      </el-table-column>
      <el-table-column prop="level" label="Level" width="70"> </el-table-column>
      <el-table-column prop="key" label="Key" width="180"> </el-table-column>
      <el-table-column prop="description" label="Описание"> </el-table-column>
      <el-table-column label="Operations" width="220">
        <template slot-scope="scope">
          <el-button
            icon="el-icon-edit"
            size="mini"
            @click="editDialog(scope.$index, scope.row)"
          ></el-button>
          <el-button
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="deleteDialog(scope.$index, scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "Control",
  components: {
    
  },
  mounted: async function () {
    await this.updateList();
  },
  data: function () {
    return {
      form: {},
      ipForm: {},
      rules: {
        name: [
          {
            required: true,
            message: "Введите название",
            trigger: "blur",
          },
        ],
        description: [
          {
            required: false,
            message: "Описание",
            trigger: "blur",
          },
        ],
        level: [
          {
            required: true,
            message: "Уровень",
            trigger: "change",
          },
        ],
      },
      type: "add",
      dialogVisible: false,
      list: [],
      levelOptions: [
        {
          value: 1,
          label: "1 Администратор",
        },
        {
          value: 2,
          label: "2 Оператор",
        },
        {
          value: 3,
          label: "3 Диспетчер",
        },
      ],
    };
  },

  methods: {
    async updateList() {
      if (this.$Manager.remote.connected) {
        try {
          const res = await this.$Manager.remote.apiKeyList();
          this.list = res.resultData;
        } catch (err) {
          this.$notify.error({
            title: "Не удалось получить список ключей",
            message: err.toString(),
          });
        }
      }
    },

    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.type === "add") {
            this.addKey();
          } else if (this.type === "save") {
            this.updateKey();
          } else if (this.type === "delete") {
            this.deleteKey();
          }
        } else {
          return false;
        }
      });
    },

    addDialog() {
      this.form = {};
      this.dialogVisible = true;
    },
    editDialog(index, row) {
      this.form = row;
      this.type = "save";
      this.dialogVisible = true;
    },
    deleteDialog(index, row) {
      this.type = "delete";
      this.form = row;
      this.dialogVisible = true;
    },

    async addKey() {
      try {
        await this.$Manager.remote.apiKeyAdd(
          this.form.name,
          this.form.description,
          this.form.level,
          this.form.cipher
        );
        await this.updateList();
        this.dialogVisible = false;
      } catch (err) {
        this.$notify.error({
          title: "Не удалось добавить ключ",
          message: err.toString(),
        });
      }
    },

    async updateKey() {
      try {
        await this.$Manager.remote.apiKeyUpdate(
          this.form.name,
          this.form.description,
          this.form.key
        );
        await this.updateList();
        this.dialogVisible = false;
      } catch (err) {
        this.$notify.error({
          title: "Не удалось обновить ключ",
          message: err.toString(),
        });
      }
    },

    async deleteKey() {
      try {
        await this.$Manager.remote.apiKeyDelete(this.form.key);
        await this.updateList();
        this.dialogVisible = false;
      } catch (err) {
        this.$notify.error({
          title: "Не удалось удалить ключ",
          message: err.toString(),
        });
      }
    },
  },
};
</script>
39f418817fc57d6c
b9486211c84365ddfd446df806913938
<style scoped>
</style>
