<template>
  <div>
    <el-dialog
      :modal="true"
      title="Упарвление ключем"
      :visible.sync="dialogVisible"
    >
      asdasdasd
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "Control",
  props: ["dialogVisible"],
  mounted: async function () {
    await this.updateList();
  },
  data: function () {
    return {
      form: {},
      ipForm: {},
      rules: {
        name: [
          {
            required: true,
            message: "Введите название",
            trigger: "blur",
          },
        ],
        description: [
          {
            required: false,
            message: "Описание",
            trigger: "blur",
          },
        ],
        level: [
          {
            required: true,
            message: "Уровень",
            trigger: "change",
          },
        ],
      },
      type: "add",
      list: [],
      levelOptions: [
        {
          value: 1,
          label: "1 Администратор",
        },
        {
          value: 2,
          label: "2 Оператор",
        },
        {
          value: 3,
          label: "3 Диспетчер",
        },
      ],
    };
  },

  methods: {
    async updateList() {
      if (this.$Manager.remote.connected) {
        try {
          const res = await this.$Manager.remote.apiKeyList();
          this.list = res.resultData;
        } catch (err) {
          this.$notify.error({
            title: "Не удалось получить список ключей",
            message: err.toString(),
          });
        }
      }
    },

    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.type === "add") {
            this.addKey();
          } else if (this.type === "save") {
            this.updateKey();
          } else if (this.type === "delete") {
            this.deleteKey();
          }
        } else {
          return false;
        }
      });
    },

    addDialog() {
      this.form = {};
      this.dialogVisible = true;
    },
    editDialog(index, row) {
      this.form = row;
      this.type = "save";
      this.dialogVisible = true;
    },
    deleteDialog(index, row) {
      this.type = "delete";
      this.form = row;
      this.dialogVisible = true;
    },

    async addKey() {
      try {
        await this.$Manager.remote.apiKeyAdd(
          this.form.name,
          this.form.description,
          this.form.level,
          this.form.cipher
        );
        await this.updateList();
        this.dialogVisible = false;
      } catch (err) {
        this.$notify.error({
          title: "Не удалось добавить ключ",
          message: err.toString(),
        });
      }
    },

    async updateKey() {
      try {
        await this.$Manager.remote.apiKeyUpdate(
          this.form.name,
          this.form.description,
          this.form.key
        );
        await this.updateList();
        this.dialogVisible = false;
      } catch (err) {
        this.$notify.error({
          title: "Не удалось обновить ключ",
          message: err.toString(),
        });
      }
    },

    async deleteKey() {
      try {
        await this.$Manager.remote.apiKeyDelete(this.form.key);
        await this.updateList();
        this.dialogVisible = false;
      } catch (err) {
        this.$notify.error({
          title: "Не удалось удалить ключ",
          message: err.toString(),
        });
      }
    },
  },
};
</script>
39f418817fc57d6c
b9486211c84365ddfd446df806913938
<style scoped>
</style>
