<template>
  <div class="Connection">
    <el-dialog  :modal="false" title="Упарвление соединением" :visible.sync="dialogVisible">
      <el-form :model="form" :rules="rules" ref="addCon">
        <el-form-item label="Название">
          <el-form-item prop="name">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
        </el-form-item>
        <el-form-item label="Адрес">
          <el-form-item prop="address">
            <el-input v-model="form.address"></el-input>
          </el-form-item>
        </el-form-item>
        <el-form-item label="Ключ">
          <el-form-item prop="key">
            <el-input v-model="form.key"></el-input>
          </el-form-item>
        </el-form-item>
        <el-form-item label="Private">
          <el-form-item prop="private">
            <el-input v-model="form.private"></el-input>
          </el-form-item>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button
          v-if="type === 'save'"
          type="danger"
          @click="deleteConnection()"
          >Удалить</el-button
        >

        <el-button @click="dialogVisible = false">Отмена</el-button>
        <el-button
          v-if="type === 'add'"
          type="primary"
          @click="submitForm('addCon')"
          >Добавить</el-button
        >
        <el-button
          v-if="type === 'save'"
          type="primary"
          @click="submitForm('addCon')"
          >Сохранить</el-button
        >
      </span>
    </el-dialog>
    <el-menu class="el-menu-demo" mode="horizontal" :router="true">
      <el-menu-item @click="addFrame()" v-bind:index="'/'">
        <i class="el-icon-circle-plus-outline"></i>
        Добавить
      </el-menu-item>
      <template v-for="item in connections">
        <el-menu-item :key="item.index" v-bind:index="'/manager/' + item.index">
          <i class="el-icon-setting"></i>
          {{ item.name }}
        </el-menu-item>
        <el-menu-item
          @click="saveFrame()"
          :key="'edit.' + item.index"
          v-if="+$route.params.id === item.index"
        >
          <i class="el-icon-edit"></i>
        </el-menu-item>
      </template>
    </el-menu>
    <!-- :before-close="handleClose" -->
  </div>
</template>

<script>
// import AddDialog from "./connection/AddDialog";
import Vue from "vue";

export default {
  props: ["connections"],
  // components: { AddDialog },
  name: "Connection",
  beforeCreate() {
    Vue.prototype.$Connections = this;
  },
  created() {},
  data: function () {
    return {
      dialogVisible: false,
      type: "add",
      form: {
        name: "localhost",
        address: "ws://localhost:4044",
        key: "default",
        private: "",
        index: new Date().getTime(),
      },
      rules: {
        name: [
          { required: true, message: "Введите название", trigger: "blur" },
        ],
        address: [
          {
            required: true,
            message: "Введите строку подключения",
            trigger: "blur",
          },
        ],
      },
      // connectionList: {}
    };
  },
  methods: {
    addFrame() {
      this.form = {
        name: "localhost",
        address: "ws://localhost:4044",
        key: "default",
        private: "",
        index: new Date().getTime(),
      };
      this.type = "add";
      this.dialogVisible = true;
    },
    saveFrame() {
      if (!this.$route.params.id) return;
      this.type = "save";
      const index = parseInt(this.$route.params.id);
      const form = this.$App.findConnection(index);
      this.form = Object.assign({}, form);
      this.dialogVisible = true;
    },

    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.type === "add") {
            this.$App.addConnection(this.form);
          } else if (this.type === "save") {
            this.$App.updateConnection(this.form);
          }

          this.dialogVisible = false;
        } else {
          return false;
        }
      });
    },
    deleteConnection() {
      this.$App.deleteConnection(this.form);
      this.dialogVisible = false;
    },
    handleClose(done) {
      this.$confirm("Отменить все изиенения?")
        .then(() => {
          done();
        })
        .catch(() => {});
    },
  },
};
</script>

<style>
</style>
