<template>
  <el-row class="scrolled-cols">
    <!-- DEVICE LIST  -->
    <div class="scrolled-cols__devices el-col el-col-24">
      <nav style="padding-right: 0px; padding-left: 0px" class="">
        <!-- <p class="dbm-list-group">Упарвление</p> -->
        <ul class="dbm-list">
          <li class="dbm-list-element" @click="updateDeviceList()">
            <a style="display: block" class="">
              <i style="margin-right: 8px" class="el-icon-lock"></i>Обновить
              список устройств
            </a>
          </li>
        </ul>
      </nav>
      <nav style="padding-right: 0px; padding-left: 0px" class="">
        <!-- <p class="dbm-list-group">Упарвление</p> -->
        <ul class="dbm-list">
          <li class="" v-for="vendor of vendors" :key="vendor.name">
            <a
              style="display: block"
              @click="setActive(vendor.name)"
              class="dbm-list-element"
              ><b>/{{ vendor.name }}/</b></a
            >
            <ul class="dbm-list" v-if="vendorsInfo[vendor.name]">
              <li
                class="dbm-list-element"
                @click="setActive(vendor.name, device.name)"
                v-for="device of vendorsInfo[vendor.name].devices"
                :key="device.name"
              >
                <a style="display: block; margin-left: 15px">{{
                  device.name
                }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- DATA -->
    <el-col class="scrolled-cols__tabs md-content">
      <el-row v-if="activeVendor && !activeDevice" v-html="vendorInfo">
      </el-row>
      <el-row v-if="activeVendor && activeDevice" v-html="deviceInfo"> </el-row>
    </el-col>
  </el-row>
</template>



<script>
import { markdown } from "markdown";

export default {
  name: "DeviceList",
  data: function () {
    return {
      connection: false,
      vendors: [],
      vendorsInfo: {},
      activeDevice: false,
      activeVendor: false,
      vendorInfo: "",
      deviceInfo: "",
    };
  },
  methods: {
    async setActive(activeVendor, activeDevice) {
      this.activeDevice = activeDevice;
      this.activeVendor = activeVendor;
      this.vendorInfo = markdown.toHTML(
        this.vendorsInfo[activeVendor].description
      );
      if (!activeDevice) return;

      var response = {};
      response = await this.$Manager.remote.commandPromise(
        "deviceInformation",
        { data: { vendor: activeVendor, device: activeDevice } }
      );
      var dev = response.resultData;
      var result = "";

      result += `## ${activeDevice} (${dev.errors.length})\n\n ${
        dev.description ? dev.description : ""
      } \n\n`;
      if (!dev.errors.length) {
        result += this.makePorts(dev);
        result += this.makeParams(dev);
        result += this.makeActions(dev);
        result += this.makeExample(dev, activeVendor);
      } else {
        result += ` 
        
        ${dev.errors.join(", ")}
        
        `;
      }

      console.log(result)
      this.deviceInfo = markdown.toHTML(result);
    },

    makeActions(device) {
      if (!device.actions.length) return ''
      var res = "### Actions \n\n";
      for (const action of device.actions) {
        res += `#### ${action.name} \n\n`;
        res += `${action.description} \n\n`;
        const ex = {};
        for (const rule of action.rules) {
          res += "" + this.makeParam(rule);
          ex[rule.path] = rule.example ? rule.example : rule.default;
        }
        if (action.return) res += `* return - ${action.return} \n`;
        res += "\n\n```json\n" + JSON.stringify(ex, null, 4) + "\n```\n\n";
      }
      return res;
    },

    makeParams(device) {
      var res = "### Параметры \n\n";
      if (!device.params || !device.params.length) {
        res += " **Нет информации по параметрам** \n\n";
        return res;
      }
      for (const param of device.params) {
        res += this.makeParam(param);
      }
      return res;
    },

    makeParam(param) {
      var ret = "";
      var is = [];
      var en = "";
      for (const iss of param.is) is.push(iss.type);
      if (param.enum.length) en += ` & enum(${param.enum.join(", ")})`;
      ret += `* **${param.path}** *${is.join(", ")}* ${en}  - ${
        param.description ? param.description : ""
      } \n`;
      for (const ex of param.expressions) ret += `  * ${ex}\n`;
      return ret;
    },

    makePorts(device) {
      if (!device.ports) return " **Нет информации по портам** \n\n";
      var res = "### Входы: \n\n";
      for (const port of device.ports) {
        if (port.direct === "input") res += this.makePort(port);
      }
      res += "### Выходы: \n\n";
      for (const port of device.ports) {
        if (port.direct === "output") res += this.makePort(port);
      }
      return res;
    },

    makePort(port) {
      const modifys = [];
      var type = "";
      var mod = "";
      if (port.dynamic) modifys.push("dynamic");
      if (port.mode === 2) {
        type = "RET";
      }
      if (port.data.length === 0) port.data.push("mixed");
      if (modifys.length) mod = `[${modifys.join(", ")}]`;
      return `* ${type} **${port.name}** *${port.data.join(", ")}* ${mod} - ${
        port.description
      } \n`;
    },

    makeExample(device, vendor) {
      const obj = {
        id: device.name,
        type: `${vendor}.${device.name}`,
        params: {},
      };

      for (const param of device.params)
        obj.params[param.path] = param.example ? param.example : param.default;

      var ret = "\n### Пример конфигурации \n";
      ret += "```json\n " + JSON.stringify(obj, null, 4) + "\n```";
      return ret;
    },

    async updateDeviceList() {
      var response = {};
      response = await this.$Manager.remote.commandPromise("deviceListUpdate");
      this.vendors = response.resultData;
      var vendorsInfo = {};
      for (const vendor of this.vendors) {
        response = await this.$Manager.remote.commandPromise(
          "deviceVendorInformation",
          { data: { vendor: vendor.name } }
        );
        vendorsInfo[vendor.name] = response.resultData;
      }
      this.vendorsInfo = vendorsInfo;
    },
  },
};
</script>

<style>
.md-content code {
  font-family: monospace;
  padding: 2px 4px;
  display: inline-block;
  /* background: lightcyan; */
  white-space: pre;
}
</style>