<template>
    <div class="home">
        <img alt="Vue logo" src="../assets/logo.png" />
    </div>
</template>

<script>
// @ is an alias to /src

export default {
    name: "Home",
    components: {},
};
</script>
<style lang="less">
.home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 25%;
    }
}
</style>
