<template>
  <div class="watch">
    <div class="watch">
      <el-container style="height: 100%">
        <el-aside width="300px" style="border-right: solid 1px #e6e6e6">
          <nav style="padding-right: 0px; padding-left: 0px" class="">
            <!-- <p class="dbm-list-group">Упарвление</p> -->
            <ul class="dbm-list">
              <li
                class="dbm-list-element"
                v-on:click="$router.push({ name: 'keys' })"
                v-bind:class="{
                  'dbm-list-element-active': $route.matched.some(
                    ({ name }) => name === 'keys'
                  ),
                }"
              >
                <a style="display: block" class="">
                  <i style="margin-right: 8px" class="el-icon-lock"></i
                  >Упарвление ключами
                </a>
              </li>
              <li
                class="dbm-list-element"
                @click="$router.push({ name: 'devicelist' })"
               >
                <a style="display: block" class="">
                  <i style="margin-right: 8px" class="el-icon-lock"></i
                  >Документация устройств
                </a>
              </li>
            </ul>
          </nav>
          <DashboardList
            v-if="remote.connected"
            :dashboardsList="dashboardsList"
            :dashboardsTree="dashboardsTree"
            :activeDashboard="activeDashboard"
          ></DashboardList>
        </el-aside>
        <el-main>
          <el-alert
            v-if="remote.connection"
            title="Попытка соединения"
            type="warning"
            effect="dark"
            :closable="false"
          >
          </el-alert>
          <el-alert
            v-if="!remote.connected && !remote.connection"
            title="Соединение разорвано!"
            type="error"
            effect="dark"
            :closable="false"
          >
          </el-alert>
          <router-view v-if="remote.connected"></router-view>
        </el-main>
      </el-container>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import DashboardList from "./watch/DashboardList";
const VRackRemote = require("../classes/VRackRemote");

export default {
  name: "Manager",
  computed: {},
  beforeCreate() {
    Vue.prototype.$Manager = this;
  },
  data: function () {
    return {
      connection: false,
      remote: false,
      activeTab: "control",
      activeDashboard: false,
      dashboard: {},
      dashboardsGroups: new Set(),
      dashboardsTree: [],
      dashboardsList: {},
      dashboardsMeta: {},
      dashboardsSubscribes: {},
      dashboardsDevicesFilter: {},
      dashboardsDevicesMonitor: {},
      dashboardsDevicesRender: {},
      dashboardsErrors: {},
    };
  },
  components: { DashboardList },
  created() {
    this.updateConnection(this.$route.params.id);
  },
  beforeRouteUpdate(to, from, next) {
    if (to.params.id !== from.params.id) this.updateConnection(to.params.id);
    next();
  },
  methods: {
    async updateDeviceList(){
      // await this.remote.deviceListUpdate()
      // const res = await this.remote.commandPromise('deviceVendorInformation', { data: { vendor: 'basic' } })
      const res = await this.remote.commandPromise('deviceInformation', { data: { vendor: 'basic', device: 'Data' } })
      console.log(res)
    },
    updateConnection(index) {
      index = parseInt(index);
      if (this.remote) this.remote.disconnect();
      this.connection = this.findConnection(index);
      if (!this.connection) return;
      this.remote = new VRackRemote(
        this.connection.address,
        this.connection.key
      );
      this.remote.private = this.connection.private;
      this.remote.on("open", this.socketOpen.bind(this));
      this.remote.on("close", this.socketClose.bind(this));
      this.remote.connect();
    },

    findConnection(index) {
      for (var connection of this.$App.connections)
        if (connection.index == index) return connection;
    },

    setActiveDashboard(id) {
      this.activeDashboard = id;
    },

    async socketOpen() {
      try {
        await this.remote.apiKeyAuth(this.connection.key);
        await this.dashboardListUpdate();
        await this.remote.channelJoin("manager", (data) => {
          this.$set(this.dashboardsList, data.data.id, data.data);
        });
      } catch (error) {
        this.$notify.error({
          title: "Ошибка обработки подключения - " + error.toString(),
        });
      }
    },

    socketClose() {
      this.dashboardList = {};
    },

    async dashboardListUpdate() {
      try {
        var result = await this.remote.dashboardListUpdate();
        this.dashboardsList = result.resultData;
        var tmpgroups = new Map();
        for (var dashboardName in this.dashboardsList) {
          var dData = this.dashboardsList[dashboardName];
          if (!tmpgroups.has(dData.group)) tmpgroups.set(dData.group, []);
          tmpgroups.get(dData.group).push({ id: dData.id, name: dData.name });
        }
        var tree = [];
        for (var key of tmpgroups.keys()) {
          var value = tmpgroups.get(key);
          value.sort((prev, next) => {
            return prev.name > next.name ? 1 : -1;
          });
          tree.push({ group: key, list: value });
        }
        tree.sort((prev, next) => {
          return prev.group > next.group ? 1 : -1;
        });
        this.dashboardsTree = tree;
      } catch (error) {
        this.$notify.error({
          title: "Ошибка обновления списка - " + error.toString(),
        });
      }
    },
  },
};
</script>

<style>
.watch {
  height: 100%;
}
</style>
