<template>
  <div>
    <el-card
    v-for="dError in filter"
    v-bind:key="dError.id"
    shadow="never"
    style="margin-bottom: 5px"
    :body-style="{ padding: '10px' }">
    <div class="text">
      <div class="error-title" style="margin-bottom: 5px">
        <div>

        #{{dError.id}} <b>{{dError.name}}</b>
        <b style="color: #409EFF" v-if="dError.name == 'DeviceError'"> {{dError.deviceId}} </b>
        (<b style="color: #F56C6C">{{dError.action}}</b>) - {{dError.result}}
        </div>
        <div class="error-date">{{dError.startedAt | unixDate}} / {{dError.endedAt | unixDate}} </div>
        <div class="error-expande" style="cursor: pointer; color: #409EFF" @click="expandToggle(dError.id)">Стек <i class="el-icon-caret-bottom"></i></div>
      </div>
      <div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
        <pre v-if="!expandIndex[dError.id]" style="margin: 0px;">{{dError.resultAt}}</pre>
        <pre v-if="expandIndex[dError.id]" style="margin: 0px;">{{dError.stack}}</pre>
      </div>
    </div>
  </el-card>
  </div>
</template>

<script>

function explode (d, s, l) {
  var out = []; var tmp; var pos
  if (l) {
    tmp = s
    pos = s.indexOf(d)
    while (l - 1 && pos >= 0) {
      out.push(tmp.substr(0, pos))
      tmp = tmp.substr(pos + d.length)
      l--
      pos = tmp.indexOf(d)
    }
    out.push(tmp)
  } else out = s.split(d)
  return out
}

export default {
  name: 'Errors',
  props: ['errors'],
  computed: {
    filter: function () {
      if (!this.errors) return []
      var i = 0
      var filtered = []
      for (var row of this.errors) {
        if (i >= this.displayCount) break
        row.arrayStack = row.stack.split('\n')
        if (row.arrayStack[0]) {
          row.result = explode(':', row.arrayStack[0], 2)[1]
          row.resultAt = row.arrayStack[1].trim()
        } else {
          row.result = '...'
          row.resultAt = '...'
        }
        filtered.push(row)
        i++
      }
      return filtered
    }
  },
  data: function () {
    return {
      expandIndex: {},
      rowsFilterOptions: [
        {
          value: '5',
          label: '5'
        }, {
          value: '15',
          label: '15'
        }, {
          value: '30',
          label: '30'
        }
      ],
      displayCount: 30
    }
  },
  methods: {
    expandToggle: function (id) {
      if (this.expandIndex[id]) this.$set(this.expandIndex, id, false)
      else this.$set(this.expandIndex, id, true)
    }
  }
}
</script>

<style scoped>
.error-title{
  position: relative;
  display: flex;
}
.error-expande{
 margin-left:20px;
 font-size: 14px;
 font-weight: 700;
}
.error-date{
  margin-left: auto;
  font-weight: 700;
  padding-left: 20px;
  font-size:14px
}
</style>
