<template>
    <table>
        <tr><td width="120">ID</td><td>{{dashboard.id}}</td></tr>
        <tr><td>Запущен</td><td>{{dashboard.run | simpleBoolean}}</td></tr>
        <tr><td>Удален</td><td>{{dashboard.deleted | simpleBoolean}}</td></tr>
        <tr><td>Путь</td><td>{{dashboard.path}}</td></tr>
        <tr><td>Структура</td><td>{{dashboard.structurePath}}</td></tr>
        <tr><td>Мета</td><td>{{dashboard.metaPath}}</td></tr>
        <tr><td>Ошибок</td><td>{{dashboard.errors}}</td></tr>
        <tr><td>Старт</td><td>{{dashboard.startedAt | unixCalendar}}</td></tr>
    </table>
</template>

<script>
export default {
  name: 'General',
  props: ['dashboard']
}
</script>

<style scoped>

</style>
