<template>
    <table>
        <tr><td width="120">Название</td><td>{{meta.name}}</td></tr>
        <tr><td>Группа</td><td>{{meta.group}}</td></tr>
        <tr><td>Версия</td><td>{{meta.version}}</td></tr>
        <tr><td>Приватный</td><td>{{meta.private | simpleBoolean}}</td></tr>
        <tr><td>Автозапуск</td><td>{{meta.autoStart | simpleBoolean}}</td></tr>
        <tr><td>Перезапуск</td><td>{{meta.autoReload | simpleBoolean}}</td></tr>
        <tr><td colspan="2">{{meta.description}}</td></tr>
    </table>
</template>

<script>
export default {
  name: 'Meta',
  props: ['meta']
}
</script>

<style scoped>

</style>
