<template>
  <div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
      <!-- <el-aside width="250px" style="background-color: rgb(238, 241, 246)"> -->
      <el-header style="font-size: 12px">
        <Connection :connections="connections"></Connection>
      </el-header>
      <!-- </el-aside> -->
      <el-main>
        <router-view />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import Connection from "./views/Connection";
import Vue from "vue";
import moment from "moment";
import { markdown } from 'markdown';

moment.locale("ru");

Vue.filter("markdown", function (value) {
  return markdown.toHTML(value) 
});


Vue.filter("simpleBoolean", function (value) {
  if (value) return "Да";
  else return "Нет";
});

Vue.filter("unixDate", function (value) {
  if (value)
    return moment(new Date(value * 1000)).format("YYYY-MM-DD HH:mm:ss");
});

Vue.filter("unixCalendar", function (value) {
  if (value) return moment(new Date(value)).calendar();
});

export default {
  name: "app",
  beforeCreate() {
    Vue.prototype.$App = this;
  },
  mounted() {
    const cons = JSON.parse(localStorage.getItem("connections"));
    if (Array.isArray(cons)) {
      this.connections = cons;
    } else {
      this.connections = [
        {
          name: "local",
          address: "ws://127.0.0.1:4044",
          key: "default",
          index: 1,
        },
      ];
    }
  },
  data: function () {
    return {
      connections: [],
    };
  },
  components: { Connection },
  methods: {
    addConnection(conn) {
      this.connections.push(conn);
      localStorage.setItem("connections", JSON.stringify(this.connections));
    },
    deleteConnection(conn) {
      for (const i in this.connections) {
        if (this.connections[i].index === conn.index) {
          this.connections.splice(i, 1);
        }
      }
      localStorage.setItem("connections", JSON.stringify(this.connections));
      this.$router.push("/");
    },
    updateConnection(conn) {
      for (const index in this.connections) {
        if (this.connections[index].index === conn.index) {
          this.connections[index] = conn;
        }
      }
      localStorage.setItem("connections", JSON.stringify(this.connections));
      this.$router.push("/");
    },
    findConnection(index) {
      for (var connection of this.$App.connections)
        if (connection.index === index) return connection;
    },
  },
};
</script>

<style>
#app {
  height: 100%;
  background-color: #fff;
}

html,
body,
.container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
  color: #1f2f3d;
}

p {
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
}
.el-menu-wo {
  border-right: solid 0px #e6e6e6;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
main.el-main {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
main.el-main .el-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
main.el-main .el-tabs .el-tabs__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
main.el-main .el-tabs .el-tabs__content #pane-scheme {
  height: 100%;
}
main.el-main .el-tabs .el-tabs__content #pane-scheme > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.el-header {
  height: auto !important;
}
#app .el-menu--horizontal > .el-menu-item {
  height: auto;
  line-height: 2;
  padding: 0 10px;
}

#app .el-main,
#app .el-header {
  padding: 0;
}
.dashboard {
  overflow: hidden;
}
.dashboard .el-row {
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.6;
}
#app h3 {
  font-weight: bolder;
  margin-bottom: 5px;
}
#app .scrolled-cols {
  display: flex;
  overflow: hidden;
}
#app .scrolled-cols .el-col {
  overflow-y: auto;
}
#app .scrolled-cols__devices {
  width: 320px;
  flex-shrink: 0;
  padding-right: 20px;
  border-right: 1px solid rgb(230, 230, 230);
}
.scrolled-cols__tabs {
  padding-left: 20px;
}
#pane-terminal > .el-row {
  padding: 0;
  display: flex;
}
#app .el-tabs__item {
  height: 30px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 10px;
}
</style>
